P, li {
  color:black; font-size:18px;
  line-height: 1.5em;
  text-align: justify-left;
}
body {
  max-width: 1000px; /* or a value within the 900px-1200px range */
  margin-left: auto; /* center the page horizontally */
  margin-right: auto;
  padding: 0 16px; /* space on left & right */
}
 
.heading-background {
  background-color: lightblue;
}
#contact {
  text-align: center;
  background: lightgray;
  
}
#name {
  font-size: 45px;
  color: maroon;
  text-align: center;
}
#location, #phone {
  font-size: 18px;
  text-align: center;
}
h2 {
  color: royalblue;
  background: lightgray;
}
