body {
  font-family: Arial;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

h1 {
  text-align: center;
}

#controls {
  text-align: center;
  margin-bottom: 10px;
}

#mapid {
  height: 550px;
  width: 100%;
}