body {
  font-family: Arial;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

h1 {
  text-align: center;
}

#controls {
  text-align: center;
  margin-bottom: 10px;
}

#mapid {
  height: 500px;
  width: 100%;
}

#legend {
  background: white;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

#legend span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}