/* Top bar */
.navbar {
  height: 60px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}

/* Brand container */
.brand {
  display: flex;
  align-items: center;
}

/* Logo (THIS controls size) */
.logo {
  height: 30px;
  width: auto;
}

/* App name */
.app-name {
  color: white;
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
}
.home-btn {
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 1000;
  padding: 8px 12px;
  background: #0f172a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.home-btn:hover {
  background: #1e293b;
}
body {
  max-width: 100%;
}

input, select, button {
  width: 100%;
  font-size: 16px;
}